<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 
  <div class="ofertas-info"> 
    <h2>Ofertas cerca de ti</h2>
  </div>

<div class="cards-container">

<ion-card *ngFor="let offer of offers">
  <img [src]="offer.image || '../../assets/products/default.jpg'" />

  <ion-card-header>
    <ion-card-title>{{ offer.title }}</ion-card-title>
    <ion-card-subtitle class="price">{{ offer.price | currency: 'CLP' }}</ion-card-subtitle>
    <ion-card-subtitle class="location">{{ offer.direction }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="description">
    <p>{{ offer.description }}</p>
    <p class="time">Publicado el {{ offer.date | date:'short' }}</p>
  </ion-card-content>

  <ion-card-content class="likes">
    <ion-button fill="clear" class="like-button">
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </ion-button>
      <span class="like-count">{{ offer.rank }}</span>
    <ion-button fill="clear" class="dislike-button">
      <ion-icon name="thumbs-down-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>

</div>

</ion-content>

